ul {
  list-style-type: none;
  margin: 0;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0;
  overflow: hidden;
  background-color: #636060;
  border-radius: 20px;
  height: 70px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: rgb(228, 222, 222);
  text-decoration: none;
  font-size: 30px;
  line-height: 70px; 
  padding: 0 20px; 
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
  background-color: transparent;
}

ul li a:hover {
  background-color: rgb(211, 197, 197);
  color:#636060;
  border-radius: 20px;
}