ul {
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  margin-right: 100px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(236, 226, 226);
  border-radius: 10px;
  height: 70px;
}

ul li {
  float: right;
}

ul li a {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
  line-height: 70px; 
  padding: 0 20px; 
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
  background-color: transparent;
}

ul li a:hover {
  background-color: rgb(211, 197, 197);
  color:black;
  border-radius: 10px;
}